<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <TargetFramework>net7.0-windows7.0</TargetFramework>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\ClickOnce\</PublishDir>
    <Install>True</Install>
    <InstallFrom>Disk</InstallFrom>
    <UpdateEnabled>False</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <ApplicationVersion>1.0.0.0</ApplicationVersion>
    <PublisherName>Whispergate</PublisherName>
    <ProductName>Erebus ClickOnce Loader</ProductName>
    <CreateDesktopShortcut>false</CreateDesktopShortcut>
    <OpenBrowserOnPublish>false</OpenBrowserOnPublish>
    <SelfContained>True</SelfContained>
    <SignManifests>False</SignManifests>
    <GenerateManifests>true</GenerateManifests>
    <BootstrapperEnabled>False</BootstrapperEnabled>
    <ApplicationRevision>0</ApplicationRevision>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <IsRevisionIncremented>False</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <MapFileExtensions>False</MapFileExtensions>
    <PublishUrl>bin\ClickOnce\</PublishUrl>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>True</PublishSingleFile>
    <PublishTrimmed>True</PublishTrimmed>
    <SignatureAlgorithm>(none)</SignatureAlgorithm>
    <SkipPublishVerification>true</SkipPublishVerification>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <DebugType>none</DebugType>
    <DebugSymbols>false</DebugSymbols>
    <IncludeAllContentForSelfExtract>true</IncludeAllContentForSelfExtract>
    <ExcludeDeploymentUrl>true</ExcludeDeploymentUrl>
  </PropertyGroup>
</Project>